[package]
name = "boring"
version = "1.1.6"
authors = [
    "Steven Fackler <sfackler@gmail.com>",
    "Ivan Nikulin <ifaaan@gmail.com>"
]
license = "Apache-2.0"
description = "BoringSSL bindings"
repository = "https://github.com/cloudflare/boring"
documentation = "https://docs.rs/boring"
readme = "README.md"
keywords = ["crypto", "tls", "ssl", "dtls"]
categories = ["cryptography", "api-bindings"]
edition = "2018"

[dependencies]
brotli = "3.3.0"
bitflags = "1.0"
foreign-types = "0.5"
lazy_static = "1"
libc = "0.2"
boring-sys = { version = "1.1.0", path = "../boring-sys" }

[dev-dependencies]
hex = "0.4"
rusty-hook = "^0.11"
