[package]
name = "boring"
version = "1.1.1"
authors = ["Steven Fackler <sfackler@gmail.com>", "Ivan Nikulin <ifaaan@gmail.com>"]
license = "Apache-2.0"
description = "BoringSSL bindings"
repository = "https://github.com/cloudflare/boring"
documentation = "https://docs.rs/boring"
readme = "README.md"
keywords = ["crypto", "tls", "ssl", "dtls"]
categories = ["cryptography", "api-bindings"]

[dependencies]
bitflags = "1.0"
foreign-types = "0.3.1"
lazy_static = "1"
libc = "0.2"
boring-sys = { version = "1.1.0", path = "../boring-sys" }

[dev-dependencies]
tempdir = "0.3"
hex = "0.3"
rusty-hook = "^0.10.1"
